
<div class="container" fxLayout="row" fxLayoutAlign="center center">
<!--  <ng-adsense-->
<!--    [adClient]="'ca-pub-7182026441345500'"-->
<!--    [adSlot]="7161427963"-->
<!--    [className]="'adsbygoogle'"-->
<!--    [display]="'block'"-->
<!--    adFormat="auto"-->
<!--    [fullWidthResponsive]="true"-->
<!--    [width]="300"-->
<!--  ></ng-adsense>-->
  <div class="container" fxLayoutAlign="center center" fxLayout="column" style="user-select:none;">
    <mat-slide-toggle (change)="toggleDark()" [checked]="themeService.isDarkTheme"></mat-slide-toggle>
    <h1>Free money</h1>
    <h2>{{(count | async)?.count}}</h2>
  </div>
<!--  <ng-adsense-->
<!--    [adClient]="'ca-pub-7182026441345500'"-->
<!--    [adSlot]="7161427963"-->
<!--    [className]="'adsbygoogle'"-->
<!--    [display]="'block'"-->
<!--    adFormat="auto"-->
<!--    [fullWidthResponsive]="true"-->
<!--    [width]="300"-->
<!--  ></ng-adsense>-->
</div>
wda

